.svn
.vscode
*.sln
*.csproj
Temp
Library
obj
Logs
.vs
.vsconfig
.idea
Builds
Logs
UserSettings
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-10_2_0.bundle
Assets/Plugins/Android/FirebaseCrashlytics.androidlib/res/values/crashlytics_build_id.xml
Assets/AddressableAssetsData/Android/addressables_content_state.bin
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-11_6_0.bundle
